rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if false;
    }
    match /DesignBlitz/2023/{filename} {
      allow read: if true;
      allow create,delete: if request.auth!=null && request.auth.token.isAdmin==true;
    }
  }
}
